@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

ul {
  padding: 0;
}

html {
  cursor: url(images/rocket.svg),auto;
}

body {
  color: rgb(222, 222, 222);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin: 0;
}

h1 {
  font-family: 'Changa One', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 200;
  text-shadow: -9px -2px 1em rgb(229, 137, 36), 0 0 0.2em rgb(229, 137, 36);
}

h2 {
  font-family: 'Changa One', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 200;
  text-shadow: 0 0 0.2em rgb(119, 119, 255), 0 0 0.2em rgb(119, 119, 255);
}

h3 {
  font-family: 'Changa One', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 200;
  text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

ul {
  list-style: none;
}

.img-planet {
  width: 200px;
}

.img-planet:hover {
  	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.planets {
  padding: 0 5%;
  margin: 50px 0;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.planets > li{
  margin: 2% 2%;
}

.name-planet {
  font-family: 'Changa One', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 50;
  text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;

}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5%;
}

.mission-card {
  background-color: #323232;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mission-card:hover {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

.mission-info i {
  font-size: .8em;
}

.mission-info:hover {
  color: rgb(253, 141, 124);
}

#footer {
  padding: 20px;
  margin: 0;
  text-align: center;
  font-size: .9em;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  color: rgb(140, 184, 199);
}

#footer i {
  font-size: 1.1em;
  margin: 0 5px;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-30 18:4:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .name-planet {
    font-size: 1em;
  }
}